################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin/
obj/
*.user
*.suo
*.cache
*.log
.vscode/
*.userprefs
*.pdb
/ProcessDelivery/obj/Debug/net9.0/ref/ProcessDelivery.Application.dll
/ProcessDelivery/obj/Debug/net9.0/refint/ProcessDelivery.Application.dll
/ProcessDelivery/obj/Debug/net9.0/ProcessDelivery.Application.AssemblyInfo.cs
/ProcessDelivery/obj/Debug/net9.0/ProcessDelivery.Application.AssemblyInfoInputs.cache
/ProcessDelivery/obj/Debug/net9.0/ProcessDelivery.Application.csproj.AssemblyReference.cache
/ProcessDelivery/obj/Debug/net9.0/ProcessDelivery.Application.dll
/ProcessDelivery/obj/Debug/net9.0/ProcessDelivery.Application.pdb
/ProcessDelivery/obj/Debug/net9.0/ProcessDelivery.Application.sourcelink.json
/ProcessDelivery.Domain/bin/Debug/net9.0/ProcessDelivery.Domain.dll
/ProcessDelivery.Domain/bin/Debug/net9.0/ProcessDelivery.Domain.pdb
/ProcessDelivery.Domain/obj/Debug/net9.0/ref/ProcessDelivery.Domain.dll
/ProcessDelivery.Domain/obj/Debug/net9.0/refint/ProcessDelivery.Domain.dll
/ProcessDelivery.Domain/obj/Debug/net9.0/ProcessDelivery.Domain.AssemblyInfo.cs
/ProcessDelivery.Domain/obj/Debug/net9.0/ProcessDelivery.Domain.AssemblyInfoInputs.cache
/ProcessDelivery.Domain/obj/Debug/net9.0/ProcessDelivery.Domain.dll
/ProcessDelivery.Domain/obj/Debug/net9.0/ProcessDelivery.Domain.pdb
/ProcessDelivery.Domain/obj/Debug/net9.0/ProcessDelivery.Domain.sourcelink.json
/ProcessDelivery.Infrastructure/bin/Debug/net9.0/ProcessDelivery.Domain.dll
/ProcessDelivery.Infrastructure/bin/Debug/net9.0/ProcessDelivery.Domain.pdb
/ProcessDelivery.Infrastructure/bin/Debug/net9.0/ProcessDelivery.Infrastructure.dll
/ProcessDelivery.Infrastructure/bin/Debug/net9.0/ProcessDelivery.Infrastructure.pdb
/ProcessDelivery.Infrastructure/obj/Debug/net9.0/ref/ProcessDelivery.Infrastructure.dll
/ProcessDelivery.Infrastructure/obj/Debug/net9.0/ProcessDelivery.Infrastructure.AssemblyInfo.cs
/ProcessDelivery.Infrastructure/obj/Debug/net9.0/ProcessDelivery.Infrastructure.AssemblyInfoInputs.cache
/ProcessDelivery.Infrastructure/obj/Debug/net9.0/ProcessDelivery.Infrastructure.csproj.AssemblyReference.cache
/ProcessDelivery.Infrastructure/obj/Debug/net9.0/ProcessDelivery.Infrastructure.dll
/ProcessDelivery.Infrastructure/obj/Debug/net9.0/ProcessDelivery.Infrastructure.pdb
/ProcessDelivery.Infrastructure/obj/Debug/net9.0/ProcessDelivery.Infrastructure.sourcelink.json
/ProcessDelivery.Infrastructure/obj/Debug/net9.0/refint/ProcessDelivery.Infrastructure.dll
/ProcessDelivery.Tests/bin/Debug/net9.0/ProcessDelivery.Application.dll
/ProcessDelivery.Tests/bin/Debug/net9.0/ProcessDelivery.Application.pdb
/ProcessDelivery.Tests/bin/Debug/net9.0/ProcessDelivery.Domain.dll
/ProcessDelivery.Tests/bin/Debug/net9.0/ProcessDelivery.Domain.pdb
/ProcessDelivery.Tests/bin/Debug/net9.0/ProcessDelivery.Infrastructure.dll
/ProcessDelivery.Tests/bin/Debug/net9.0/ProcessDelivery.Infrastructure.pdb
/ProcessDelivery.Tests/bin/Debug/net9.0/ProcessDelivery.Tests.dll
/ProcessDelivery.Tests/bin/Debug/net9.0/ProcessDelivery.Tests.pdb
/ProcessDelivery.Tests/obj/Debug/net9.0/ref/ProcessDelivery.Tests.dll
/ProcessDelivery.Tests/obj/Debug/net9.0/refint/ProcessDelivery.Tests.dll
/ProcessDelivery.Tests/obj/Debug/net9.0/ProcessDelivery.Tests.AssemblyInfo.cs
/ProcessDelivery.Tests/obj/Debug/net9.0/ProcessDelivery.Tests.AssemblyInfoInputs.cache
/ProcessDelivery.Tests/obj/Debug/net9.0/ProcessDelivery.Tests.csproj.AssemblyReference.cache
/ProcessDelivery.Tests/obj/Debug/net9.0/ProcessDelivery.Tests.dll
/ProcessDelivery.Tests/obj/Debug/net9.0/ProcessDelivery.Tests.pdb
/ProcessDelivery.Tests/obj/Debug/net9.0/ProcessDelivery.Tests.sourcelink.json
/ProcessDelivery/bin/Debug/net9.0/ProcessDelivery.Application.dll
/ProcessDelivery/bin/Debug/net9.0/ProcessDelivery.Application.pdb
/ProcessDelivery/bin/Debug/net9.0/ProcessDelivery.Domain.dll
/ProcessDelivery/bin/Debug/net9.0/ProcessDelivery.Domain.pdb
